<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1>All Events</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${events} and ${events.size()}">No Events!</p>

<table th:if="${events} and ${events.size()}" style="width: auto; margin: 0 auto" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Email</th>
            <th>Location</th>
            <th>Registration</th>
            <th>Attendees</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event.name}">event name</td>
        <td th:text="${event.description}">event description</td>
        <td th:text="${event.contactEmail}">event email</td>
        <td th:text="${event.location}">event location</td>
        <td th:if="${event.registrationRequired}">Yes</td>
        <td th:text="${event.numberOfAttendees}"></td>

        <td>
            <a th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a>
        </td>
        <!--        <td><img th:src="https://www.pinclipart.com/picdir/middle/398-3988990_how-to-draw-a-rainbow-rainbow-sketch-clipart.png"/></td>-->
    </tr>
<!--    <tr th:each="eventMap : ${events}"> THIS WAS FOR THYMELEAF EXERCISES -->
<!--        <td th:text="${eventMap.key}">event name</td>-->
<!--        <td th:text="${eventMap.value}">event description</td>-->
<!--        <td th:replace="fragments :: address">event address</td>-->
<!--&lt;!&ndash;        <td><img th:src="https://www.pinclipart.com/picdir/middle/398-3988990_how-to-draw-a-rainbow-rainbow-sketch-clipart.png"/></td>&ndash;&gt;-->
<!--    </tr>-->
</table>

</body>
</html>